@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --darkcyan:#0E8784;
    --lightcream:#FEFCF7;
    --paleorange:#FDD6BA;
    --darkgreyblue:#333D4B;
    --grey:#83888F;
    --white:#ffffff;   
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

p {
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    line-height: 1.6rem;
    margin-top: 24px;
}

h1 {
    font-size: 72px;
    line-height: 1em;
    font-family: 'Fraunces', serif;
} 

h2 {
    font-size: 40px;
    line-height: 3rem;
    font-family: 'Fraunces', serif;
}

h3 {
    font-size: 32px;
    line-height: 2.25rem;
    font-family: 'Fraunces', serif;
}

h4 {
    font-size: 24px;
    line-height: 2rem;
    font-family: 'Fraunces', serif;
}

ul {
    list-style: none;
    display: flex;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.92px;
    gap: 33px;
    
}

header ul :hover {
    color: var(--darkgreyblue);
}

a {
    cursor: pointer;
    color: var(--grey);
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 44px 1px;
}

.Navbar-Link-toggle{
    display: none;
}

/*  home banner style */
.banner {
    background-image: url(/images/homebanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    border-radius: 8px;
}

.banner-content {
    width: 493px;
    margin: 134px 85px;
    color: var(--lightcream);
}

.banner-tagline{
    margin-top: 32px;
}

.btn {
    background-color: var(--darkcyan);
    color: var(--lightcream);
    border-radius: 6px;
    width: 217px;
    height: 56px;
    border: 0;
    font-size: 18px;
    font-family: 'Fraunces', serif;
    margin-top: 64px;
}

.btn:hover {
    background-color: #66D2CF;
    cursor: pointer;
}

/*  home collection section  */
.collection-container {
    margin: 130px 85px 212px;
}

.collection-heading {
    opacity: 0.3;
    position: relative;
}

.collection-heading-text {
    top: 86px; 
    position: relative; 
    color: var(--grey); 
    font-size: 180px; 
    text-align: center;
}

.collection-heading-background {
    width: 1111px; 
    height: 79px; 
    position: absolute; 
    background: linear-gradient(180deg, rgba(254, 252, 247, 0) 0%, #FEFCF7 100%)
}

.collection-content {
    display: flex;
    text-align: center;
    gap: 30px;
    line-height: 66px;
    position: relative;
    top: 25px;

}
.collection-content p, .collection-content h4 {
    color: var(--darkgreyblue);
}


/*  home services section  */

.services-heading-background {
    background-color: var(--darkgreyblue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 6px;

}
.services-heading {
    text-align: center;
    width: 540px;
    color: white;
    margin-bottom: 317px;
    margin-top: 100px;
}

.services-heading h2 {
    margin-bottom: 32px;
}

.heading-group {
    width: 540px;
}

.services-details {
    display: flex;
    text-align: center; 
    gap: 30px;
    position: relative;
    bottom: 200px;
   justify-content: center;
}

.card {
    height: 382px;
    width: 350px;
    background-color: var(--darkcyan);
    border-radius: 8px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card img {
    margin-bottom: 56px;
}

.card p {
    width: 255px;
}

.card h4 {
    margin-bottom: 24px;
}

/*   work section style     */
.work h1 {
    color: var(--paleorange);
}

.work h4 {
    color: var(--grey);
    margin-bottom: 80px;
}

.work h3 {
    margin-top: 38px;
    margin-bottom: 42px;
}

.work-details {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.work-details::before {
    content: "";
    position: absolute;
    top: -13px;
    height: 2px;
    width: 80%;
    background-color: var(--paleorange);
    z-index: 1;
}

.details {
    color: var(--darkgreyblue);
    width: 285px;
    margin-top: 65px;
    position: relative;
}

.details::before {
    content: "";
    position: absolute;
    top: -97px;
    left: 0;
    width: 31px;
    height: 31px;
    border: 2px solid var(--darkcyan);
    border-radius: 50%;
    background-color: var(--white);
    z-index: 2;
}

/*    ABOUT US PAGE     */
.aboutus-banner {
    background-image: url(/images/aboutbanner.png);
}

/* about us commitment section  */
.commitment {
    display: flex;
    margin: 168px 85px;
    align-items: center;
    gap: 125px;
    color: var(--darkgreyblue);
}

.commitment img {
    border-radius: 8px;
}

/* about us quality section  */
.quality {
    color: white;
    margin-top: 256px;
}

.quality {
    background-color: var(--darkgreyblue);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content:center ;
    gap: 125px;
    padding: 25px;
}

.quality-details {
    width: 540px;
}

.quality img {
    position: relative;
    bottom: 88px;
    border-radius: 8px;
}

/*  about us headquarter section    */
.headquarter {
    margin:168px 150px 168px 85px;
}

.headquarter-content {
    display: flex;
    justify-content: space-between;
}

.headquarter h4 {
    color: var(--grey);
    margin-bottom:72px;
}
.headquarter h3 {
    margin-top: 45px;
}

.headquater-details {
    color: var(--darkgreyblue);
    width: 285px;
}

/*   PLAN PAGE   */
.plan-banner {
    background-image: url(/images/planbanner.png);
}

/*  plan work section    */
.plan-work {
    background-color: var(--darkgreyblue);
    border-radius: 10px;
    margin-top: 169px;
}

.plan-work-content {
    padding: 100px;
    display: flex;
    justify-content: space-between;
    position: relative;
}


.plan-work-content::before {
    content: "";
    position: absolute;
    top: 120px;
    height: 2px;
    width: 49.8rem;
    background-color: var(--paleorange);
    left: 117px;
}

.plan-details {
    color: var(--white);
    width: 285px;
    margin-top: 100px;
    position: relative;
}

.plan-details::before {
    content: "";
    position: absolute;
    top: -97px;
    left: 0;
    width: 31px;
    height: 31px;
    border: 2px solid var(--darkcyan);
    border-radius: 50%;
    z-index: 2;
}

/*   plan menu - cards section  */
.prefrence-no {
    color: var(--darkcyan);
}
.side-menu h4 {
    font-size: 20px;
}
.side-menu-no{
    color: var(--grey);
}
.menu {
    opacity: 0.4;
    margin: 24px;
    display: flex;
    gap: 25.5px;
    color: var(--darkgreyblue);
}
.menu::before{
    content: "";
    position: absolute;
    width: 10%;
    height: 1px;
    background-color: var(--grey);
    margin-top: 40px;
}
.menu:hover{
    opacity: 0.6;
}
.deliveries{
    opacity: 1;
}
.plan-cards {
    display: flex;
    gap: 125px;
    margin: 160px 85px;
}
.plan-icons {
    color: var(--darkcyan);
    font-size: 30px;
}
.qsn-cards h2 {
    color: var(--grey);
}
.arrow{
   position: absolute;
   left: 82%;
}
.all-qsn-cards {
    display: flex;
    align-items: center;
}
.card-container{
    margin-top: 88px;
}

.ans-cards{
    display: flex;
    margin-top: 56px;
    gap: 23px;
    cursor: pointer;
}
.ans{
    border-radius: 8px;
    color: var(--darkgreyblue);
    padding: 32px 24px 84px;
    background-color: var(--lightcream);
}
.ans:hover {
    background-color: var(--paleorange);
}
.ans h4 {
    margin-bottom: 24px;
}

.order-summary-details {
    background-color: var(--darkgreyblue);
    color: white;
    padding: 27px 64px;
    margin-top: 88px;
    border-radius: 10px;
}
.order-summary span{
    color: var(--darkcyan);
}
.order-summary p {
    color: var(--grey);
    margin-bottom: 8px;
}
.order-summary-btn {
    margin-left: 503px;
    margin-top: 40px;
    background-color: lightgrey;
    color: var(--lightcream);
    border-radius: 6px;
    width: 217px;
    height: 56px;
    border: 0;
    font-size: 18px;
    font-family: 'Fraunces', serif;
}
.order-summary-btn:hover {
    background-color: #66D2CF;
    cursor: pointer;
}


/*              footer style             */
footer {
    background-color: var(--darkgreyblue);
    display: flex;
    justify-content: space-between;
    padding: 47px 85px;
    margin-top: 200px;
    margin-bottom: 88px;
    align-items: center;
}
footer img {
    width: 236px; 
}


.navlinks a:hover{
    color: white;
}
.icons {
    color: white;
    gap: 24px;
    display: flex;
}

.fa-brands {
   font-size: 24px;
}
.fa-brands:hover{
    color: var(--paleorange);
    cursor: pointer;
}

@media screen and (max-width:1300px){

    .container{
        max-width: 1100px;
        width: 100%;
        margin: 0 auto;
    }

    /*  home page section  */
    .collection-container {
        margin: 144px 0px;
    }

    .collection-heading-text { 
        font-size: 160px; 
    }

    .work-details::before{
        width: 75%;
    }

    /* about us page  */
    .quality-details {
        width: 340px;
    }

    /* plan page */
    .plan-work-content::before{
        width: 38.5rem;
    }
    .arrow {
        left: 90%;
    }
    .menu::before{
        width: 16%;
    }
    .plan-cards {
        margin: 160px 20px;
    }
}

@media screen and (max-width:1150px) {
    .container{
        max-width: 900px;
        width: 100%;
        margin: 0 auto;
    }

    /* home page  */
    .collection-heading-text
    {
        font-size: 130px;
    }
    .collection-heading-background{
        width: 900px;
    }
    .collection-content {
        display: inline;
    }
    .coffee {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .coffee-details {
        display: inline;
        text-align: left;
        width: 400px;
    }
    .work-details::before {
        width: 70%;
    }

    /* about us page  */
    .commitment img {
        width: 412px;
        height: 520px;
    }
    .commitment {
        margin: 168px 0px;
    }
    .quality img {
        width: 350px;
        height: 450px;
    }
    .quality-details h2 {
        font-size: 25px;
    }

    .headquarter {
        margin: 168px 0px;
    }

    /* plan page  */
    .plan-work-content::before{
        width: 31.5rem;
    }
    .plan-details{
        width: 200px;
    }
    .plan-cards {
        gap: 60px;
        margin: 160px 0px;
    }
    .arrow {
        position: absolute;
        left: 85%;
    }
    .all-qsn-cards h2{
        font-size: 28px;
    }
    .order-summary-btn{
        margin-left: 365px;
    }
    footer {
        padding: 47px 25px;
    }
}

@media screen and (max-width :920px){
    .container{
        max-width: 689px;
        width: 100%;
        margin: 0 auto;
    }
    p {
        font-size: 15px;
    }
    footer {
        display: flex;
        flex-direction: column;
        gap: 60px;
        padding: 54px 185px;
     }
     .footer-navbar {
         display: flex;
         flex-direction: column;
         gap: 32px;
     }

    /* home page  */
    .banner {
        background-image: url(/images/tablet\ banner.jpg);
    }
    .banner-content{
        width: 420px;
        margin: 100px 42px;
    }
    .banner-heading{
        font-size: 48px;
        line-height: 57px;
    }
    .banner-tagline {
        margin-top: 24px;
    }
    .collection-heading-text{
        font-size: 116px;
    }
    .collection-heading-background {
        width: 689px;
    }
    .collection-content{
        top: 45px;
    }
    .coffee-details{
        width: 299px;
    }
    .services-details{
        flex-direction: column;
        bottom: 265px; 
        align-items: center;  
    }
    .card {
        height: 180px;
        width: 573px;
        flex-direction: row;
    }
    .card img {
        margin-bottom: 0px;
    }
    .card p {
        width: 344px;
    }
    .services-card-details {
        text-align: left;
    }
    .details {
        width: 223px;
    }
    .work h3 {
        font-size: 28px;
    }
   
    /* about page  */
    .aboutus-banner {
        background-image: url(/images/abouttablet.jpg);
    }
    .aboutus-banner-heading{
        font-size: 32px;
    }
    .aboutus-banner-content{
        width: 398px;
    }
    .commitment {
        margin: 144px 0px;
        gap: 69px;
    }
    .commitment img {
        width: 281px;
        height: 470px;
    }
    .commitment-details h2 {
        font-size: 32px;
        line-height: 90px;
    }
    .quality {
        flex-direction: column-reverse;
        gap: 0;
        text-align: center;
    }
    .quality-details {
        width: 540px;
        margin-bottom: 64px;
    }
    .quality img {
        width: 573px;
        height: 370px;
    }
    .headquarter {
        margin: 144px 0px;
    }
    .headquarter h3 {
        font-size: 24px;
    }

    /* plan page  */
    .plan-banner{
        background-image:url(/images/plantablet.jpg) ;
    }
    .side-menu {
        display: none;
    }
    .plan-banner-heading{
        font-size: 48px;
    }
    .plan-banner-content{
        width: 398px;
    }
    .plan-work-content{
        padding: 50px;
    }
    .plan-details{
        width: 160px;
    }
    .plan-work-content::before{
        width: 26.9rem;
        top: 70px;
        left: 67px;
    }
    .arrow{
        left: 80%;
    }
    .order-summary{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .order-summary-btn{
        margin-left: 0px;
    }
}

@media screen and (max-width:768px) {
    .container{
        max-width: 650px;
        width: 100%;
        margin: 0 auto;
    }
    footer {
        padding: 54px 143px;
    }
    .nav-items{
        display: none;
    }
    .Navbar-Link-toggle {
        align-self: flex-end;
        display: flex;
        position: relative;
        cursor: pointer;
    }
    .navbar-toggleshow {
        display: flex;
    }
      /* home page  */
    .collection-heading-text{
        font-size:  100px ;
    }
    .card {
        width: 482px;
    }
      /* about us */
    .quality img {
        width: 500px;
    }
        /* plan page  */
    .plan-work-content::before{
        width: 24.5rem;
    }
}
@media screen and (max-width:650px){
    .container{
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
    }
    .banner{
        background-image: url(/images/Bitmap.jpg);
    }
    .banner-content{
        width: 317px;
        text-align: center;
    }
    .collection-heading-text {
        font-size: 59px;
    }

} 